@font-face {
  font-family: Brooklyn-Normal;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-Normal.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-Italic;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-Italic.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-Bold;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-Bold.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-BoldItalic;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-Heavy;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-Heavy.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-SemiBold;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-SemiBoldItalic;
  src: url("//lib/brooklyn-font/OTF/Brooklyn-SemiBoldItalic.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #F6F4EF;
}

.btn {
  padding: 0.5em 2em;
  border: 1px solid white;
  border-radius: 5px;
}

h1 {
  font-size: 2.5rem;
}

html {
  min-height: 100vh;
  font-family: Brooklyn-Normal, sans-serif;
  color: #F6F4EF;
  scroll-behavior: smooth;
}

body {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #1C1C1C;
}
body.white {
  background: #F5F5F5;
}

section {
  font-family: Brooklyn-Normal, sans-serif;
  min-height: calc(100vh - 100px);
  display: grid !important;
  gap: 0.5em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  color: #F5F5F5;
}
section:first-of-type {
  min-height: calc(100vh - 150px);
}

#navbarBootstrap .test133 {
  width: 100%;
  height: 100px;
  color: white;
}
#navbarBootstrap i {
  margin-left: 10vw;
}
#navbarBootstrap #test1234 {
  gap: 2vw;
  font-size: 1.2rem;
  padding: 1vw 5vw 0 0;
}
#navbarBootstrap #test1234 li a {
  text-decoration: none;
  color: white;
}
#navbarBootstrap #test1234 .btn {
  color: white;
}

header {
  position: sticky;
  top: 0;
  background-color: #1C1C1C;
  min-height: 100px;
  width: 100%;
  display: grid;
  grid-template-rows: 1em 1fr 1em;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 2px solid #4b4b4b;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header.white {
  background-color: #F5F5F5;
}
header.white a {
  color: #1C1C1C;
}
header.white .btn {
  border-color: #1C1C1C;
  box-shadow: 0px 2px 2px #3E3E3E;
}
header.grow {
  min-height: 150px;
}
header.grow .logo {
  width: 40%;
}
header.grow a {
  font-size: 1.25rem;
}
header .logo {
  grid-area: 2/1/span 1/span 1;
  justify-self: center;
  width: 30%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header .logo svg {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header .sub-pages {
  grid-area: 2/3/span 1/-1;
  margin-left: auto;
  padding: 0 4em;
  font-size: 1rem;
}
header .sub-pages a {
  font-family: Brooklyn-Bold, sans-serif;
  margin: 0 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

nav.navbar {
  background-color: #1C1C1C !important;
  border-bottom: 2px solid #4b4b4b;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
nav.navbar .navbar-nav {
  gap: 2vw;
}
nav.navbar.white {
  background-color: #F5F5F5;
}
nav.navbar.white a {
  color: #1C1C1C;
}
nav.navbar.white .btn {
  border-color: #1C1C1C;
  box-shadow: 0px 2px 2px #3E3E3E;
}
nav.navbar .logo {
  width: 7vw;
  min-width: 4.5em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
nav.navbar .logo svg {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
nav.navbar .sub-pages {
  grid-area: 2/3/span 1/-1;
  margin-left: auto;
  padding: 0 4em;
  font-size: 1rem;
}
nav.navbar .sub-pages a {
  font-family: Brooklyn-Bold, sans-serif;
  margin: 0 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#index .product-vid {
  z-index: 1;
  position: fixed;
  bottom: 15%;
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}
#index .hero-section {
  position: relative;
}
#index .hero-section:before {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
  content: "";
  height: 2px;
  grid-area: 3/1/span 1/span 2;
  align-self: center;
  background-color: #F6F4EF;
  border-radius: 0 100% 100% 0;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
#index .hero-section:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
  content: "";
  height: 2px;
  grid-area: 3/4/span 1/span 2;
  align-self: center;
  background-color: #F6F4EF;
  border-radius: 100% 0 0 100%;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
#index .hero-section h1 {
  z-index: 1;
  grid-area: 2/1/span 1/span 5;
  text-align: center;
  text-transform: uppercase;
}
#index .hero-section h1 span {
  color: #C8B090;
}
#index .section-2 {
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
#index .section-2 * {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#index .section-2 #slogan-1 {
  grid-area: 2/4/span 1/span 2;
  translate: -100%;
  opacity: 0;
}
#index .section-2 #slogan-2 {
  grid-area: 3/1/span 1/span 2;
  translate: 100%;
  opacity: 0;
}
#index .section-2.active #slogan-1,
#index .section-2.active #slogan-2 {
  opacity: 1;
  translate: 0;
}
#index section.section-3 {
  max-height: calc(100vh - 100px);
  white-space: nowrap;
  overflow: hidden;
}
#index section.section-3 .sliding-logo {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #C8B090;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
#index section.section-3 .sliding-logo p {
  font-family: Brooklyn-Bold, sans-serif;
  font-size: 6rem;
  display: inline-block;
}
#index section.section-3 .sliding-logo p:nth-child(odd) {
  color: #C8B090;
  text-shadow: none;
}
#index .section-4 {
  place-items: center;
}
#index .section-4 .product-name {
  position: relative;
  color: #1C1C1C;
  font-size: 7rem;
  grid-area: 2/1/span 1/-1;
  z-index: 1;
  text-transform: uppercase;
  background: linear-gradient(269.86deg, #182B3B 0.12%, #C8B090 105.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#index .section-4 #lines {
  grid-area: 1/1/span 3/-1;
  width: 33%;
  justify-self: left;
}
#index .section-4 #lines line {
  stroke: #C8B090;
  border-image-source: linear-gradient(90deg, #C8B090 26.64%, rgba(0, 0, 0, 0) 46.62%);
}
#index .section-4 .ring {
  border: 1px solid #C8B090;
  border-radius: 50%;
  aspect-ratio: 1;
}
#index .section-4 .product-container {
  grid-area: 1/1/-1/-1;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index .section-4 .product-container .inner {
  height: 58vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index .section-4 .product-container .inner .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  aspect-ratio: 1;
}
#index .section-4 .product-container .inner .circle svg circle {
  fill: url(#goldToWhite);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
#index .section-4 .product-container .inner .circle svg .stop1 {
  stop-color: #E1D5C2;
}
#index .section-4 .product-container .inner .circle svg .stop2 {
  stop-color: #F4F2EC;
}
#index .section-5 {
  color: #1C1C1C;
}
#index .section-5 .info-container {
  grid-area: 2/4/span 3/span 2;
  display: flex;
  flex-direction: column;
}
#index .section-5 .info-container__blade-icon {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 1.25rem;
}
#index .section-5 .info-container__blade-icon img {
  background-color: #182B3B;
  border-radius: 50%;
  padding: 0.25em;
}
#index .section-5 .info-container__title {
  font-size: 2.5rem;
  margin-bottom: 1em;
}
#index .section-5 .info-container__text {
  max-width: 50%;
}
#index .section-7 {
  color: #1C1C1C;
  font-size: 4rem;
}
#index .section-7 .water__title {
  color: transparent;
  grid-area: 3/1/span 2/-1;
  background-position-y: 450px;
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 1.5em;
}
#index .section-8 {
  overflow: hidden;
  color: #1C1C1C;
  white-space: nowrap;
}
#index .section-8 .excluded:nth-child(1) {
  background-color: red;
}
#index .section-8 .excluded:nth-child(3) {
  background-color: blue;
  grid-area: 1/1/span 2/-1;
}
#index .section-8 .excluded:nth-child(4) {
  background-color: green;
}
#index .section-8 .technology_highlight {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#index .section-9 {
  display: flex !important;
}
#index .section-9 .brown-gradient {
  grid-column: 5/span 2;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 10px #555;
  border-radius: 50%;
  background: rgb(200, 176, 144);
  background: radial-gradient(circle, rgb(200, 176, 144) 0%, rgba(28, 28, 28, 0) 100%);
}
#index .section-10 {
  background-color: #1C1C1C;
}

#scale1, #scale2, #scale3, #scale4 {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}

#section-10 {
  display: flex !important;
  position: relative;
}

.position-box-1 {
  position: absolute;
  top: 5%;
  right: 20%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}

.position-box-2 {
  position: absolute;
  top: 40%;
  right: 10%;
}

.position-box-3 {
  position: absolute;
  top: 40%;
  right: 30%;
}

.male-images {
  display: flex;
}

.health-image {
  margin-right: 1vw;
}

.statisticBox {
  place-content: center;
  position: relative;
  width: fit-content;
}

.statisticBox .statistic-image {
  min-width: 100%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

.statisticBox p {
  text-align: center;
}

.stastic-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stastic-text span {
  font-weight: 700;
}

#flexContainer {
  display: block !important;
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2;
}

#flexContainer .flex-mental-health {
  display: flex;
  gap: 3vw;
  align-items: center;
}

.flex-mental-health {
  z-index: 1;
}

.male-images h5 {
  z-index: 1;
}

.bagground-image-statistic {
  width: 60vw;
  height: 70vh;
  display: grid;
  place-content: center;
  background-color: #181818;
  box-shadow: 1px 6px 4px 3px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 6px 4px 3px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 6px 4px 3px rgba(0, 0, 0, 0.45);
  border-radius: 5rem;
  position: absolute;
  right: 10%;
  z-index: -1;
}

#ourVision .container {
  height: calc(200vh - 200px);
}
#ourVision section {
  min-height: calc(100vh - 100px);
  padding: 0 4em;
  color: #182B3B;
  grid-template-areas: "no no . illustration ." "no no . illustration ." "progress body body body ." "progress body body body ." ". . . . . ";
}
#ourVision .progress {
  position: fixed;
  height: 40%;
  left: 5%;
  top: 45%;
}
#ourVision .progress line {
  stroke-linecap: round;
  stroke-width: 8px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#ourVision .progress__progressbar {
  stroke: #D9D9D9;
}
#ourVision .progress__progress {
  stroke: #182B3B;
  z-index: 1;
}
#ourVision .progress-2 {
  position: fixed;
  right: 0%;
  top: 60%;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  list-style: none;
  font-size: 1.25rem;
}
#ourVision .progress-2 li {
  color: #182B3B;
  display: inline-block;
  white-space: nowrap;
  margin-left: 2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#ourVision .progress-2 li span {
  margin-left: 0.5em;
  transform: rotate(90deg);
}
#ourVision .progress-2 li .circle {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  background-color: #182B3B;
  border-radius: 50%;
}
#ourVision .progress-2 li:nth-child(2), #ourVision .progress-2 li:nth-child(3) {
  opacity: 0.3;
}
#ourVision .no {
  justify-self: center;
  font-family: Brooklyn-Heavy, sans-serif;
  grid-area: no;
  font-size: 17rem;
  line-height: 17rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}
#ourVision .no .no1,
#ourVision .no .no2,
#ourVision .no .no3 {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  justify-self: start;
}
#ourVision .no .description {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  justify-self: start;
}
#ourVision .no .description.no2, #ourVision .no .description.no3 {
  opacity: 0;
}
#ourVision .no .outlined {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #182B3B;
}
#ourVision .no .description {
  font-size: 1.5rem;
  font-family: Brooklyn-Italic, sans-serif;
  line-height: 1.5rem;
  margin-bottom: 4rem;
}
#ourVision .body {
  grid-area: body;
  grid-row: 3/-1;
  padding-top: 3em;
}
#ourVision .body__text {
  font-size: 1.5rem;
  line-height: 1.5;
  display: inline-grid;
  grid-template-rows: repeat(5, 1fr);
}
#ourVision .body__text__no1, #ourVision .body__text__no2, #ourVision .body__text__no3 {
  -ms-grid-row: 1/-1;
  grid-row: 1/-1;
  grid-column: 1/-1;
}
#ourVision .body__text__no2, #ourVision .body__text__no3 {
  opacity: 0;
}
#ourVision .bg {
  grid-area: 4/3/span 2/-1;
  background: linear-gradient(180deg, #8D8D8D 0%, rgba(141, 141, 141, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 17rem;
  line-height: 1;
  opacity: 0.15;
}
#ourVision .illustration {
  grid-area: illustration;
  display: flex;
  justify-content: end;
  aspect-ratio: 1;
}
#ourVision .illustration .dots {
  stroke: #182B3B;
  stroke-linecap: round;
  opacity: 0.4;
}
#ourVision .illustration .square {
  justify-self: center;
  stroke: #182B3B;
  fill: transparent;
  transform: rotate(45deg) !important;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  opacity: 0.3;
}
#ourVision .illustration .circle {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke: #182B3B;
  fill: transparent;
  opacity: 0.3;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}

#kontakt {
  background-color: #1C1C1C;
}

#section-kontakt {
  display: flex !important;
  gap: 5vh;
  flex-direction: column;
  color: white;
  width: 60vw;
  text-align: center;
  padding-top: 10vh;
  margin: auto;
  align-items: center;
}

.kontaktP {
  line-height: 200%;
  width: 50vw;
}

.geInTouch {
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: #C8B090;
}

.mail {
  display: flex;
}

.mail::after {
  content: "";
  background: url("/lib/Pil.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  display: inline-flex;
  margin-left: 1vw;
}

.questionText {
  font-size: 2.5rem;
}

.mail {
  font-size: 1.5em;
}

.product {
  color: #C8B090;
  font-weight: bold;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.socials a {
  margin-left: 5vw;
  margin-top: 2vh;
}

.linkedin::before {
  content: "";
  display: inline-flex;
  background: url(/lib/Linkedin.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 1vw;
}

.facebook::before {
  content: "";
  display: inline-flex;
  background: url(/lib/facebook.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 1vw;
}

.instagram::before {
  content: "";
  display: inline-flex;
  background: url(/lib/Instagram.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 1vw;
}

.kontaktSide {
  writing-mode: vertical-lr;
  font-size: 5em;
  position: absolute;
  left: 7vw;
  letter-spacing: 2vh;
  background: -webkit-linear-gradient(right, #eee, rgba(182, 12, 12, 0));
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.polygon1 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  opacity: 0.5;
}

.polygon2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0.5;
}

.socials a {
  display: flex;
  align-items: center;
  z-index: 1;
}

#ballr-journal .section-ballr-journal {
  display: block !important;
}
#ballr-journal .test1234 {
  width: 100%;
  background-size: contain;
  background-position: center center;
}
#ballr-journal .journal-bg {
  display: flex;
  place-content: center;
  width: 100%;
  height: calc(100vh - 100px);
}
#ballr-journal .journal-intro {
  text-align: center;
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
  background: rgb(24, 43, 59);
  background: linear-gradient(360deg, rgb(24, 43, 59) 0%, rgba(35, 53, 68, 0.9671218829) 9%, rgba(68, 83, 97, 0.92) 32%, rgba(109, 121, 132, 0.86) 56%, rgb(238, 239, 241) 100%);
}
#ballr-journal .journal-text {
  font-size: 3.5rem;
  padding-top: 20vh;
  text-transform: uppercase;
}
#ballr-journal .journal-text2 {
  font-size: 3.5rem;
  padding-top: 10vh;
  text-transform: uppercase;
  transform: rotate(180deg);
  transform: rotateX(180deg);
  opacity: 0.2;
}
#ballr-journal .ballr-span {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}
#ballr-journal .paper-bg {
  background-size: contain;
  position: absolute;
  width: 50vw;
  height: auto;
  top: 20;
}
#ballr-journal .journal-p {
  text-align: center;
  width: 50vw;
  margin: auto;
  line-height: 2;
}
#ballr-journal .stroke-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65vw;
  border: 2px solid rgba(255, 255, 255, 0.448);
  height: 65vh;
}
#ballr-journal .filtersystem {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  margin: 2vh auto 0 auto;
}
#ballr-journal .filter {
  height: fit-content;
  background-color: rgb(154, 154, 154);
  width: 10vw;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  color: #1C1C1C;
  box-shadow: -1px 10px 6px -7px rgba(0, 0, 0, 0.46);
}
#ballr-journal #search {
  width: 40vw;
  border-radius: 3px;
  padding: 10px;
  border: 0.5px solid grey;
  box-shadow: -1px 10px 6px -7px rgba(0, 0, 0, 0.46);
}
#ballr-journal .fa-solid {
  color: #1C1C1C;
}
#ballr-journal .searchKnap {
  padding: 10px;
  border-radius: 3px;
  border: 0.5px solid grey;
  width: 7vw;
  background-color: #606B38;
  color: white;
  box-shadow: -1px 10px 6px -7px rgba(0, 0, 0, 0.46);
}
#ballr-journal .articles-display {
  width: 80vw;
  display: block !important;
  margin: auto;
  color: #1C1C1C;
}
#ballr-journal .articles-display h1 {
  color: #1C1C1C;
  margin-top: 20vh;
  border-top: 1px solid rgb(173, 173, 173);
  padding-top: 5vh;
}
#ballr-journal .article-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  height: fit-content;
}
#ballr-journal .article-container h3 {
  font-size: 12px;
  margin-top: 2vh;
  background-color: #182B3B;
  padding: 10px;
  width: fit-content;
  border-radius: 3px;
  color: white;
}
#ballr-journal .article-container h2 {
  margin-top: 2vh;
}
#ballr-journal .article-container p {
  width: 90%;
  margin-top: 4vh;
}
#ballr-journal .article-container button {
  padding: 10px;
  margin-top: 5vh;
  text-decoration: underline;
  border: none;
}
#ballr-journal .article-box-img {
  width: 90%;
  height: auto;
  justify-content: center;
}

#body-article {
  color: #1C1C1C;
}
#body-article .article-sektion {
  width: 80vw;
  display: block !important;
  margin: auto;
}
#body-article .specific-artikel {
  width: 80vw;
  text-align: center;
}
#body-article .article-intro {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  line-height: 2;
  width: 50vw;
  margin: 10vh auto;
}
#body-article .article-intro p {
  font-weight: 600;
}
#body-article ::-webkit-scrollbar {
  display: none;
}
#body-article .article-info {
  display: flex;
  justify-content: space-between;
}
#body-article #socials-article {
  color: #1C1C1C;
  content: "f082";
}
#body-article .article-wrapper {
  display: flex;
  gap: 3vw;
}
#body-article .article-text h3 {
  font-size: 32px;
  margin-bottom: 5vh;
}
#body-article .article-text,
#body-article .article-aside {
  width: 40vw;
  line-height: 1.5;
}
#body-article .article-aside a {
  font-size: 1rem;
  color: #1C1C1C;
  text-decoration: underline;
}
#body-article .article-aside {
  padding-left: 15vw;
  color: #1C1C1C !important;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#body-article .newsletter {
  margin-top: 5vh;
  width: 15vw;
  position: relative;
}
#body-article .newsletter p {
  margin-top: 15vh;
}
#body-article .newsletter span {
  color: #606B38;
}
#body-article .newsletterImg {
  position: absolute;
  top: 15%;
}
#body-article #mail {
  border: 1px solid green;
  padding: 5px;
  margin-top: 2vh;
}
#body-article .test123::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\e20a";
}

.fa-brands {
  font-size: 30px;
  margin-left: 1vw;
}

footer {
  background-color: #12181c;
  color: white;
}

.container-footer {
  padding: 2vw;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.container-footer h3 {
  margin-bottom: 5vh;
}

.footer-about {
  width: 30vw;
}

/*# sourceMappingURL=style.css.map */
