@font-face {
  font-family: Brooklyn-Normal;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-Normal.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-Italic;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-Italic.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-Bold;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-Bold.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-BoldItalic;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-Heavy;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-Heavy.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-SemiBold;
  src: url("/lib/brooklyn-font/OTF/Brooklyn-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: Brooklyn-SemiBoldItalic;
  src: url("//lib/brooklyn-font/OTF/Brooklyn-SemiBoldItalic.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #F6F4EF;
}

.btn {
  padding: 0.5em 2em;
  border: 1px solid white;
  border-radius: 5px;
}

h1 {
  font-size: 2.5rem;
}

html {
  min-height: 100vh;
  font-family: Brooklyn-Normal, sans-serif;
  color: #F6F4EF;
}

body {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #1C1C1C;
}
body.white {
  background: #F5F5F5;
}

section {
  min-height: calc(100vh - 100px);
  display: grid !important;
  gap: 0.5em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
section:first-of-type {
  min-height: calc(100vh - 150px);
}

header {
  position: sticky;
  top: 0;
  background-color: #1C1C1C;
  min-height: 100px;
  width: 100%;
  display: grid;
  grid-template-rows: 1em 1fr 1em;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 2px solid #4b4b4b;
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header.white {
  background-color: #F5F5F5;
}
header.white a {
  color: #1C1C1C;
}
header.white .btn {
  border-color: #1C1C1C;
  box-shadow: 0px 3px 5px #3E3E3E;
}
header.grow {
  min-height: 150px;
}
header.grow .logo {
  width: 40%;
}
header.grow a {
  font-size: 1.25rem;
}
header .logo {
  grid-area: 2/1/span 1/span 1;
  justify-self: center;
  width: 30%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header .logo svg {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header .sub-pages {
  grid-area: 2/3/span 1/-1;
  margin-left: auto;
  padding: 0 4em;
  font-size: 1rem;
}
header .sub-pages a {
  font-family: Brooklyn-Bold, sans-serif;
  margin: 0 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#index .product-vid {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}
#index .product-vid .video {
  width: 80%;
}
#index .hero-section {
  position: relative;
}
#index .hero-section:before {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
  content: "";
  height: 2px;
  grid-area: 3/1/span 1/span 2;
  align-self: center;
  background-color: #F6F4EF;
  border-radius: 0 100% 100% 0;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
#index .hero-section:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
  content: "";
  height: 2px;
  grid-area: 3/4/span 1/span 2;
  align-self: center;
  background-color: #F6F4EF;
  border-radius: 100% 0 0 100%;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
#index .hero-section h1 {
  z-index: 1;
  grid-area: 2/1/span 1/span 5;
  text-align: center;
  text-transform: uppercase;
}
#index .hero-section h1 span {
  color: #C8B090;
}
#index .section-2 {
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
#index .section-2 * {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#index .section-2 #slogan-1 {
  grid-area: 2/4/span 1/span 2;
  translate: -100%;
  opacity: 0;
}
#index .section-2 #slogan-2 {
  grid-area: 3/1/span 1/span 2;
  translate: 100%;
  opacity: 0;
}
#index .section-2.active #slogan-1, #index .section-2.active #slogan-2 {
  opacity: 1;
  translate: 0;
}
#index section.section-3 {
  max-height: calc(100vh - 100px);
  white-space: nowrap;
  overflow: hidden;
}
#index section.section-3 .sliding-logo {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #C8B090;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
#index section.section-3 .sliding-logo p {
  font-family: Brooklyn-Bold, sans-serif;
  font-size: 6rem;
  display: inline-block;
}
#index section.section-3 .sliding-logo p:nth-child(odd) {
  color: #C8B090;
  text-shadow: none;
}
#index .section-4 {
  place-items: center;
}
#index .section-4 .product-name {
  position: relative;
  color: #1C1C1C;
  font-size: 7rem;
  grid-area: 2/1/span 1/-1;
  z-index: 1;
  text-transform: uppercase;
  background: linear-gradient(269.86deg, #182B3B 0.12%, #C8B090 105.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#index .section-4 #lines {
  grid-area: 1/1/span 3/-1;
  width: 33%;
  justify-self: left;
}
#index .section-4 #lines line {
  stroke: #C8B090;
  border-image-source: linear-gradient(90deg, #C8B090 26.64%, rgba(0, 0, 0, 0) 46.62%);
}
#index .section-4 .ring {
  border: 1px solid #C8B090;
  border-radius: 50%;
  aspect-ratio: 1;
}
#index .section-4 .container {
  grid-area: 1/1/-1/-1;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index .section-4 .container .inner {
  height: 58vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index .section-4 .container .inner .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  aspect-ratio: 1;
}
#index .section-4 .container .inner .circle svg circle {
  fill: url(#goldToWhite);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
#index .section-4 .container .inner .circle svg .stop1 {
  stop-color: #E1D5C2;
}
#index .section-4 .container .inner .circle svg .stop2 {
  stop-color: #F4F2EC;
}
#index .section-5 {
  color: #1C1C1C;
}
#index .section-5 .info-container {
  grid-area: 2/4/span 3/span 2;
  display: flex;
  flex-direction: column;
}
#index .section-5 .info-container__blade-icon {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 1.25rem;
}
#index .section-5 .info-container__blade-icon img {
  background-color: #182B3B;
  border-radius: 50%;
  padding: 0.25em;
}
#index .section-5 .info-container__title {
  font-size: 2.5rem;
  margin-bottom: 1em;
}
#index .section-5 .info-container__text {
  max-width: 50%;
}
#index .section-7 {
  color: #1C1C1C;
  font-size: 4rem;
}
#index .section-7 .water__title {
  color: transparent;
  grid-area: 3/1/span 2/-1;
  background-position-y: 450px;
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 1.5em;
}
#index .section-8 {
  overflow: hidden;
  color: #1C1C1C;
  white-space: nowrap;
}
#index .section-8 .excluded:nth-child(1) {
  background-color: red;
}
#index .section-8 .excluded:nth-child(3) {
  background-color: blue;
  grid-area: 1/1/span 2/-1;
}
#index .section-8 .excluded:nth-child(4) {
  background-color: green;
}
#index .section-8 .technology_highlight {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#index .section-9 {
  display: flex !important;
}
#index .section-9 .brown-gradient {
  grid-column: 5/span 2;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 10px #555;
  border-radius: 50%;
  background: rgb(200, 176, 144);
  background: radial-gradient(circle, rgb(200, 176, 144) 0%, rgba(28, 28, 28, 0) 100%);
}
#index .section-10 {
  background-color: #1C1C1C;
}

#ourVision .container {
  height: calc(200vh - 200px);
}
#ourVision section {
  min-height: calc(100vh - 100px);
  padding: 0 4em;
  color: #182B3B;
  grid-template-areas: "no no . illustration ." "no no . illustration ." "progress body body body ." "progress body body body ." ". . . . . ";
}
#ourVision .progress {
  position: fixed;
  height: 40%;
  left: 5%;
  top: 45%;
}
#ourVision .progress line {
  stroke-linecap: round;
  stroke-width: 8px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#ourVision .progress__progressbar {
  stroke: #D9D9D9;
}
#ourVision .progress__progress {
  stroke: #182B3B;
  z-index: 1;
}
#ourVision .progress-2 {
  position: fixed;
  right: 0%;
  top: 60%;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  list-style: none;
  font-size: 1.25rem;
}
#ourVision .progress-2 li {
  color: #182B3B;
  display: inline-block;
  white-space: nowrap;
  margin-left: 2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#ourVision .progress-2 li span {
  margin-left: 0.5em;
  transform: rotate(90deg);
}
#ourVision .progress-2 li .circle {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  background-color: #182B3B;
  border-radius: 50%;
}
#ourVision .progress-2 li:nth-child(2), #ourVision .progress-2 li:nth-child(3) {
  opacity: 0.3;
}
#ourVision .no {
  justify-self: center;
  font-family: Brooklyn-Heavy, sans-serif;
  grid-area: no;
  font-size: 17rem;
  line-height: 17rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}
#ourVision .no .no1, #ourVision .no .no2, #ourVision .no .no3 {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  justify-self: start;
}
#ourVision .no .description {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
  justify-self: start;
}
#ourVision .no .description.no2, #ourVision .no .description.no3 {
  opacity: 0;
}
#ourVision .no .outlined {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #182B3B;
}
#ourVision .no .description {
  font-size: 1.5rem;
  font-family: Brooklyn-Italic, sans-serif;
  line-height: 1.5rem;
  margin-bottom: 4rem;
}
#ourVision .body {
  grid-area: body;
  grid-row: 3/-1;
  padding-top: 3em;
}
#ourVision .body__text {
  font-size: 1.5rem;
  line-height: 1.5;
  display: inline-grid;
  grid-template-rows: repeat(5, 1fr);
}
#ourVision .body__text__no1, #ourVision .body__text__no2, #ourVision .body__text__no3 {
  -ms-grid-row: 1/-1;
  grid-row: 1/-1;
  grid-column: 1/-1;
}
#ourVision .body__text__no2, #ourVision .body__text__no3 {
  opacity: 0;
}
#ourVision .bg {
  grid-area: 4/3/span 2/-1;
  background: linear-gradient(180deg, #8D8D8D 0%, rgba(141, 141, 141, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 17rem;
  line-height: 1;
  opacity: 0.15;
}
#ourVision .illustration {
  grid-area: illustration;
  display: flex;
  justify-content: end;
  aspect-ratio: 1;
}
#ourVision .illustration .dots {
  stroke: #182B3B;
  stroke-linecap: round;
  opacity: 0.4;
}
#ourVision .illustration .square {
  justify-self: center;
  stroke: #182B3B;
  fill: transparent;
  transform: rotate(45deg) !important;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  opacity: 0.3;
}
#ourVision .illustration .circle {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke: #182B3B;
  fill: transparent;
  opacity: 0.3;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
