@import "variables";
@import "Brooklyn-font";
@import "boostrap/bootstrap";
@import "boostrap/bootstrap-grid";
@import "boostrap/bootstrap-reboot";
@import "boostrap/bootstrap-utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $off-white;
}

.btn {
  padding: .5em 2em;
  border-radius: 5px;
}

h1 {
  font-size: 2.5rem;
}

html {
  min-height: 100vh;
  font-family: Brooklyn-Normal, sans-serif;
  color: $off-white;
  scroll-behavior: smooth;
}

body {
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
  background-color: black;
}

html, body {
  overflow-x: hidden;
}

section {
  font-family: Brooklyn-Normal, sans-serif;
  min-height: calc(100vh - 104px);
  display: grid;
  gap: .5em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  color: $white;

  .container, .container-fluid {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

nav.navbar {
  background-color: black;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.10);

  .navbar-nav {
    gap: 2vw;
  }

  &.white {
    background-color: $white;
    color: $background;

    a {
      color: $background;
    }
  }

  .logo {
    width: 7vw;
    min-width: 4.5em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    svg {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
  }

  .sub-pages {
    grid-area: 2 / 3 / span 1 / -1;
    margin-left: auto;
    padding: 0 4em;
    font-size: 1rem;

    a {
      font-family: Brooklyn-Bold, sans-serif;
      margin: 0 1.5em;
      text-transform: uppercase;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

  }
}

#index {
  .product-vid {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    place-content: center;
    place-items: center;
    max-height: 75vh;

    .video {
      max-height: 65vh;
      width: 80%;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;

      &.zoomInExit {
        opacity: 0;
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
      }
    }
  }


  .hero-section {
    position: relative;

    // &:before {
    //   -webkit-animation-duration: 1s;
    //   animation-duration: 1s;
    //   -webkit-animation-fill-mode: both;
    //   animation-fill-mode: both;
    //   display: block;
    //   content: '';
    //   height: 2px;
    //   grid-area: 3 / 1 / span 1 / span 2;
    //   align-self: center;
    //   background-color: $off-white;
    //   border-radius: 0 100% 100% 0;
    //   -webkit-animation-name: slideInLeft;
    //   animation-name: slideInLeft;
    // }

    // &:after {
    //   -webkit-animation-duration: 1s;
    //   animation-duration: 1s;
    //   -webkit-animation-fill-mode: both;
    //   animation-fill-mode: both;
    //   display: block;
    //   content: '';
    //   height: 2px;
    //   grid-area: 3 / 4 / span 1 / span 2;
    //   align-self: center;
    //   background-color: $off-white;
    //   border-radius: 100% 0 0 100%;
    //   -webkit-animation-name: slideInRight;
    //   animation-name: slideInRight;
    // }

    h1 {
      z-index: 1;
      grid-area: 2 / 1 / span 1 / span 5;
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 1.5;
      font-weight: bold;
      

      span {
        color: $gold;
      }
    }
  }

  .section-2 {
    align-items: center;
    text-align: center;
    font-size: 2rem;

    & * {
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
    }

    #slogan-1 {
      grid-area: 2/4/span 1/ span 3;
      translate: -100%;
      opacity: 0;
    }

    #slogan-2 {
      grid-area: 3/1/span 1/ span 2;
      translate: 100%;
      opacity: 0;
    }

    &.active {
      #slogan-1,
      #slogan-2 {
        opacity: 1;
        translate: 0;
      }
    }

    @include media-breakpoint-down(md) {
      #slogan-1 {
        font-size: 2rem;
        grid-area: 2 / 1 / span 1 / -1;
        text-align: right;
      }
      #slogan-2 {
        font-size: 2rem;
        grid-area: 3 /1 / span 1 / -1;
        text-align: left;
      }
    }
  }

  section.section-3 {
    max-height: calc(100vh - 104px);
    white-space: nowrap;
    overflow: hidden;

    .sliding-logo {
      color: transparent;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: $gold;
      grid-column: 1 / -1;
      grid-row: 1 / -1;

      p {
        font-family: Brooklyn-Bold, sans-serif;
        font-size: 6rem;
        display: inline-block;
      }

      p:nth-child(odd) {
        color: $gold;
        text-shadow: none;
      }
    }
  }

  .fadeover {}

  .section-4 {
    place-items: center;

    .product-name-container{
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
      width: 100%;
      display: flex;
      flex-direction: row;

      .product-name {
        color: $background;
        font-size: clamp(2rem, 5vw + 1rem, 7rem);
        z-index: 1;
        text-transform: uppercase;
        background: linear-gradient(269.86deg, $blue 0.12%, $gold 105.11%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      #lines {
        justify-self: left;
        flex-basis: 23%;

        line {
          stroke: $gold;
          border-image-source: linear-gradient(90deg, $gold 26.64%, rgba(0, 0, 0, 0) 46.62%);
        }
      }
    }

    .ring {
      border: 1px solid $gold;
      border-radius: 50%;
      aspect-ratio: 1;
    }

    .product-container {
      grid-area: 1 / 2 / 5 / 5;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .inner {
        height: 58vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60vh;
          aspect-ratio: 1;

          & svg {
            circle {
              fill: url(#goldToWhite);
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
            }

            .stop1 {
              stop-color: #E1D5C2;
            }

            .stop2 {
              stop-color: #F4F2EC;
            }
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      .product-name-container {
        grid-area: 1 / 1 / span 2 / -1;
      }
      #lines {
        height: 10vw;
      }

      .ring {

      }

      .product-container {
        height: 42vh;

        .inner {
          height: 35vh;

          .circle {

            & svg {
              height: 60%;
              width: 60%;
              circle {
                fill: url(#goldToWhite);
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
              }

              .stop1 {
                stop-color: #E1D5C2;
              }

              .stop2 {
                stop-color: #F4F2EC;
              }
            }
          }
        }
      }

    }
  }

  //.section-4 {
  //  .product-name {
  //    position: relative;
  //    h2 {
  //      color: $background;
  //      z-index: 1;
  //      background: linear-gradient(269.86deg, $blue 0.12%, $gold 105.11%);
  //      -webkit-background-clip: text;
  //      -webkit-text-fill-color: transparent;
  //    }
  //  }
  //  .lines {
  //    &:before {
  //      content: '';
  //      position: absolute;
  //      height: 2px;
  //      left: 0;
  //      background: linear-gradient(0deg, $gold 26.64%, rgba(0, 0, 0, 0) 46.62%);
  //    }
  //    &.line-1:before {
  //      width: 30vw;
  //      top: 0;
  //    }
  //
  //    &.line-2:before {
  //      width: 21.5vw;
  //      top: 50%;
  //    }
  //
  //    &.line-3:before {
  //      width: 17.5vw;
  //      top: 100%;
  //    }
  //    //stroke: $gold;
  //    //border-image-source: linear-gradient(90deg, $gold 26.64%, rgba(0, 0, 0, 0) 46.62%);
  //    }
  //}

  .section-5 {
    color: $background;
    line-height: 2;

    .info-container {
      grid-area: 2 / 4 / span 3 / span 2;
      display: flex;
      flex-direction: column;

      &__blade-icon {
        display: flex;
        gap: 1em;
        align-items: center;
        margin-bottom: 1em;
        margin-top: 0;
        font-size: 1.25rem;

        img {
          background-color: $blue;
          border-radius: 50%;
          padding: .25em;
        }
      }

      &__title {
        font-size: 2.5rem;
        margin-bottom: 1em;
      }

      &__text {
        max-width: 50%;
      }
    }

    @include media-breakpoint-down(md) {
      .info-container {
        grid-area: 2 / 2 / 5 / 5;

        &__text {
          max-width: 100%;
        }
      }
    }
  }

  .section-6 {
    color: $background;
    line-height: 2;

    .info-container_1 {
      grid-area: 1 / 2 ;
      display: flex;
      flex-direction: column;


      .info-container__blade-icon_1 {
        display: flex;
        gap: 1em;
        align-items: center;
        margin-bottom: 1em;
        margin-top: 0;
        font-size: 1.25rem;

        img {
          background-color: $blue;
          border-radius: 50%;
          padding: .25em;
        }
      }

      h2 {
        font-size: 2.5rem;
        margin-bottom: 1em;
      }
    }

    @include media-breakpoint-down(md) {
      .info-container_1 {
        grid-area: 2 / 2 / 5 / 5;

        &__text {
          max-width: 100%;
        }
      }
    }
    
  }

  .shopify-buy-frame {
    display: none;
  }

  .section-8 {
    overflow: hidden;
    color: $background;
    white-space: nowrap;

    .excluded:nth-child(1) {
      background-color: red;
    }

    .excluded:nth-child(3) {
      background-color: blue;
      grid-area: 1 / 1 / span 2 / -1;
    }

    .excluded:nth-child(4) {
      background-color: green;
    }

    .technology_highlight {
      opacity: 0;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

  }

  .section-9 {
    height: calc(100vh - 104px);
    
  }

  .section-10 {
    .container {

      #statistics-imgs-1, #statistics-imgs-2 {
        opacity: 0.3;

      }
      .scale-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        aspect-ratio: 1;
        place-items: center;
        img {
          width: 100%;
          grid-area: 1 / 1 / -1 / -1;
        }
        &__scale-text {
          margin: 0px;
          grid-row: 1 / -1;
          grid-column: 1 / -1;
          text-align: center;
        }
      }
    }
  }
}

#ourVision {
  section {
    min-height: calc(100vh - 104px);
    padding: 0 4em;
    color: $white;
    grid-template-areas:
      "no no . illustration ."
      "no no . illustration ."
      "progress body body body ."
      "progress body body body ."
      "progress . . . . ";
    animation: 1s ease-out 0s 1 fadeIn;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .progress {
    grid-area: progress;
    background-color: transparent;
    height: 75%;
    line {
      stroke-linecap: round;
      stroke-width: 8px;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
    }

    &__progressbar {
      stroke: $border-grey;
    }

    &__progress {
      stroke: $gold;
      z-index: 1;
    }
  }

  .progress-2 {
    grid-row: 2 / span 3;
    grid-column: 5 / span 1;
    list-style: none;
    font-size: 1.25rem;
    height: fit-content;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    justify-self: center;


    li {
      color: $white;
      display: inline-block;
      margin-top: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;

      span {
        margin-left: .5em;
        transform: rotate(90deg);
      }

      .circle {
        display: inline-block;
        width: 20px;
        aspect-ratio: 1;
        background-color: $white;
        border-radius: 50%;
      }

      &:nth-child(2),
      &:nth-child(3) {
        opacity: 0.3;
      }
    }
  }

  .no {
    grid-area: no;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    align-items: end;
    font-family: Brooklyn-Heavy, sans-serif;
    font-size: clamp(calc(5vw + 5rem), calc(10vw + 5rem), calc(10vw + 5rem));
    line-height: clamp(calc(5vw + 5rem), calc(10vw + 5rem), calc(10vw + 5rem));
    .no1,
    .no2,
    .no3 {
      color: $gold;
      grid-row: 1/span 1;
      grid-column: 1 / span 1;
      justify-self: start;
    }

    .description {
      grid-row: 1/span 1;
      grid-column: 2 / span 1;
      justify-self: start;
      font-size: 1.5rem;
      font-family: Brooklyn-Italic, sans-serif;
      line-height: 1.5rem;
      margin-bottom: 4rem;
      color: $white;

      &.no2,
      &.no3 {
        opacity: 0;
      }
    }

    .outlined {
      grid-row: 1 /span 1;
      grid-column: 1 / span 1;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
    }

  }

  .body {
    grid-area: body;
    padding-top: 3em;
    font-weight: 100;

    b {
      font-family: Brooklyn-Heavy, sans-serif;
    }

    &__text {
      display: inline-grid;
      grid-template-rows: repeat(5, 1fr);

      &__no1,
      &__no2,
      &__no3 {
        -ms-grid-row: 1 / -1;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
      }

      &__no2,
      &__no3 {
        opacity: 0;
      }
    }
  }

  .bg {
    font-family: Brooklyn-Heavy, sans-serif;
    grid-area: 4 / 3 / span 2 / -1;
    background: linear-gradient(180deg, #8D8D8D 0%, rgba(141, 141, 141, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: clamp(6.5rem, 15vw, 17rem);
    text-align: right;
    opacity: 0.05;
    margin: 0;
  }

  .illustration {
    grid-area: illustration;
    display: flex;
    justify-self: end;
    align-self: center;
    aspect-ratio: 1;

    line {
      stroke-dasharray: 1, 10%;
      stroke-width: 10;
    }

    .dots {
      stroke: $white;
      stroke-linecap: round;
      opacity: .4;
    }

    .square {
      justify-self: center;
      stroke: $white;
      fill: transparent;
      transform: rotate(45deg) !important;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      opacity: .3;
    }

    .circle {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke: $white;
      fill: transparent;
      opacity: .3;

    }
  }
  //media queri for ourvision
  @media(max-width: 1050px) {
     section {
       padding: 0 .5em;
       grid-template-areas:
        "no no no no illustration"
        ". body body body ."
        ". body body body ."
        ". body body body ."
        ". body body body . ";
     }
    .no {
      justify-self: start;
      align-self: end;
      height: fit-content;
      .description {
        margin-bottom: 1em;
      }
    }
    .illustration {
      line {
        stroke-width: 5;
      }
      .circle {
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
      }
    }
    .progress {
      display: none;
    }
    .progress-2 {
      align-self: center;
      justify-self: center;
      -ms-grid-row: 1 / -1;
      grid-row: 1 / -1;
    }
    .bg {
      grid-column: 1 / -1;
      grid-row: 5 / -1;
    }
    .body {
      //grid-row-start: 2;
    }
  }
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}


// Kontakt //

#kontakt {
  background-color: $background;
}

#section-kontakt {
  display: flex !important;
  gap: 5vh;
  flex-direction: column;
  color: white;
  width: 60vw;
  text-align: center;
  padding-top: 10vh;
  margin: auto;
  align-items: center;
  animation: 1s ease-out 0s 1 fadeIn;

  @keyframes fadeIn {
    0% {
     opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@include media-breakpoint-down(md) {
  #section-kontakt {
    width: initial;
    gap: 2em;
    margin: 0 2em;
  }
}

.kontaktP {
  line-height: 200%;
  width: 50vw;
}

.geInTouch {
  font-size: 2rem;
}

@include media-breakpoint-down(md) {
  .geInTouch {
    font-size: 1.5rem;
  }
}

.mail {
  display: flex;
}

.mail::after {
  content: "";
  background: url("/lib/Pil.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  display: inline-flex;
  margin-left: 1vw;
}

.questionText {
  font-size: 2.5rem;
}

@include media-breakpoint-down(md) {
  .questionText {
    font-size: 1.75rem;
  }
}

.mail {
  font-size: 1.5em;
}

@include media-breakpoint-down(md) {
  .mail {
    font-size: 1.2rem;
  }
}

.product {
  color: $gold;
  font-weight: bold;
}

.socials a {
  margin-left: 5vw;
  margin-top: 2vh;
}

.linkedin::before {
  content: "";
  display: inline-flex;
  background: url(/lib/Linkedin.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 1vw;
}

.facebook::before {
  content: "";
  display: inline-flex;
  background: url(/lib/facebook.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 1vw;
}

.instagram::before {
  content: "";
  display: inline-flex;
  background: url(/lib/Instagram.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 1vw;
}

.kontaktSide {
  writing-mode: vertical-lr;
  font-size: 5em;
  position: absolute;
  left: 7vw;
  letter-spacing: 2vh;
  background: -webkit-linear-gradient(right, #eee, rgba(182, 12, 12, 0));
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}
@include media-breakpoint-down(md) {
  .kontaktSide {
    left: 0;
    top: 30%;
    translate: -30%, 0;
    font-size: 3em;
    text-align: center;
  }
}

.polygon1 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  opacity: 0.5;
}

.polygon2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0.5;
}

.socials a {
  display: flex;
  align-items: center;
  z-index: 1;
}


//Ballr-Journal//

#ballr-journal {

.section-ballr-journal {
  display: block !important;

}

.journal-bg {
   display: flex;
   place-content: center;
  // background-image: url("../lib/Journal-bg.jpg");
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 104px);
}

.journal-intro {
  text-align: center;
  position: relative;
  height: calc(100vh - 104px);
  width: 100%;
  background: rgb(24, 43, 59);
  background: linear-gradient(360deg, rgba(24, 43, 59, 1) 0%, rgba(35, 53, 68, 0.9671218829328606) 9%, rgba(68, 83, 97, 0.92) 32%, rgba(109, 121, 132, 0.86) 56%, rgba(238, 239, 241, 1) 100%);
}

.journal-text {
  font-size: 3.5rem;
  padding-top: 20vh;
  text-transform: uppercase;
}

.journal-text2 {
  font-size: 3.5rem;
  padding-top: 10vh;
  text-transform: uppercase;
  transform: rotateX(180deg);
  opacity: 0.2;
}

.ballr-span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: white;
}

.paper-bg {
  background-size: contain;
  position: absolute;
  width: 50vw;
  height: auto;
  top: 20;
}

.journal-p {
  text-align: center;
  width: 50vw;
  margin: auto;
  line-height: 2;
}

.stroke-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65vw;
  border: 2px solid rgba(255, 255, 255, 0.448);
  height: 65vh;
}



.filtersystem {
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  margin: 2vh auto 0 auto;
}

.filter {
  height: fit-content;
  background-color: rgb(154, 154, 154);
  width: 10em;
  padding: 0.7em;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  color: $background;
  box-shadow: -1px 10px 6px -7px rgba(0,0,0,0.46);
}

#search {
  width: 40vw;
  border-radius: 3px;
  padding: 10px;
  border: 0.5px solid grey;
  box-shadow: -1px 10px 6px -7px rgba(0,0,0,0.46);
}

.fa-solid {
  color: $background;
}

.searchKnap {
  padding: 0.7em;
  border-radius: 3px;
  border: 0.5px solid grey;
  width: 8em;
  background-color: $green;
  color: white;
  box-shadow: -1px 10px 6px -7px rgba(0,0,0,0.46);
}

.articles-display {
  width: 80vw;
  display: block !important;
  margin: auto;
  color: $background;
}

.articles-display h1 {
  color: $background;
  margin-top: 20vh;
  border-top: 1px solid rgb(173, 173, 173);
  padding-top: 5vh;
}

.article-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  height: fit-content;
  
  
  h3 {
    font-size: 12px;
    margin-top: 2vh;
    background-color: $blue;
    padding: 10px;
    width: fit-content;
    border-radius: 3px;
    color: white;
  }

  h2 {
    margin-top: 2vh;
  }
  
  p {
    width: 90%;
    margin-top: 4vh;
  }

  button {
    padding: 10px;
    margin-top: 5vh;
    text-decoration: underline;
    border: none;
    
  }


}

.article-box-img {
  width: 90%;
  height: auto;
  justify-content: center;
}

}


//Specifik artikel//

#body-article {

  color: $background;

  .article-sektion {
    width: 80vw;
    display: block !important;
    margin: auto;
  }

  .specific-artikel {
    width: 80vw;
    text-align: center;
  }

  .article-intro {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    line-height: 2;
    width: 50vw;
    margin: 10vh auto;
  }

  .article-intro p {
    font-weight: 600;
  }


  ::-webkit-scrollbar {
    display: none;
  }

  .article-info {
    display: flex;
    justify-content: space-between;
  }

  #socials-article {
    color: $background;
    content: "f082";

  }

  

  .article-wrapper {
    display: flex;
    gap: 3vw;
    width: 70vw;
  }

  .article-text h3 {
    font-size: 32px;
    margin-bottom: 5vh;
  }

  .article-text,
  .article-aside {
    padding: 1em;
  }

  .article-aside a {
    font-size: 1rem;
    color: $background;
    text-decoration: underline;
  }

  .article-aside {
    color: $background  !important;
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .newsletter {
    margin-top: 5vh;
    width: 15vw;
    position: relative;
  }

  .newsletter p {
    margin-top: 15vh;
  }

  .newsletter span {
    color: $green;
  }

  .newsletterImg {
    position: absolute;
    top: 15%;
  }

  #mail {
    border: 1px solid green;
    padding: 5px;
    margin-top: 2vh;
  }
}

.fa-brands {
  font-size: 30px;
  margin-left: 1vw;
}



//Footer//

footer {
  background-color: #12181c;
  color: white;
}

.container-footer {
  padding: 2vw;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.container-footer h3 {
  margin-bottom: 5vh;
}

.footer-about {
width: 30vw;
}



.shopify-buy-frame {
  display: none;
}



// Product page

#body-product {
  background-color: #F6F4EF;
  
  nav {
    background-color: #F6F4EF;

    a, ul li {
      color: #1C1C1C;

    }
  }

  
  .row {
    margin-top: 10vh;
    gap: 5vw;
  }

  #section-product {
    display: block;
    color: #1C1C1C;
  }
  
  .preview {
    height: 80px;
    width:80px;
  }

  .preview-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .product-image-wrap {
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: end;  
  }

  .product-description-container {
    gap: 3vh;
    display: flex;
    flex-direction: column;
  }

  .product-title {
    font-size: 4rem;
    font-family: Brooklyn-Heavy, sans-serif;
    color: #1C1C1C;
  }

  b {
    font-size: 1.2rem;
  }

  h6 {
    font-family: Brooklyn-Bold, sans-serif;
    letter-spacing: 0.1em;
    font-size: 0.8rem;
  }

  .stars-wrap {
    display: flex;
    gap: 0.3em;
  }

  .collapse-descriptions {
    gap: 2vh;
    flex-direction: column;
    display: flex;
    width: 80%;

    .collapse-container {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }

    .fa-plus, .fa-minus {
      border: #1C1C1C 1px solid;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      position: relative;
    }

    .fa-plus::before, .fa-minus::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .actions-wrap {
      display: flex;
      gap: 5vw;
    }

    .actions-container {
      gap:1vw;
      align-items: center;
    }

    .add-to-cart {
      border: none;
      border-radius: 3em;
      padding: 0.3em 1em;
      background-color: #0f5132;
      color: white;
      box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.32);
      font-family: brooklyn-bold, sans-serif;
    }

    .add-to-card::hover {
      background-color: green;
    }

    .ptestie {
      display: none;
    }
   
  }

  .product-image {
    width: fit-content;
  }
  
  .info-wrap {
    width: 75%;
    padding-bottom: 10vh;
  }

  .pris {
    margin-left: 1vw;
  }

  @media only screen and (max-width: 1000px) {
     
    .preview-wrap {
      display: block;
      margin-top: 5vh;
     }

     .preview-container {
      flex-direction: row;
      order: 2;

      img {
        scale: 0.8;
      }
     }

     .product-image-wrap {
      flex-direction: column;
      margin-top: 0;
     }

     .info-wrap {
      width: 100%;
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      gap: 5vh;
    }

    .product-title {
      font-size: 3rem;
      margin-top: 6vh;
    }

    .actions-wrap {
      justify-content: space-between;
    }

    .actions-container {
      gap: 4vw;
    }

    .product-image {
      width: 70%;
   
    }
    
    .product-image-container {
      display: grid;
      place-items: center;
    }

  }
  
  
}




#new-article {
  background-color: white;

  section {
    color: #1C1C1C;
  }
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}




